<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.AlbumDao">

    <select id="selectAllAlbums" resultType="Album">
        select * from album limit ${(page-1)*rows},#{rows}
    </select>

    <select id="totalcount" resultType="Integer">
        select count(*) from album
    </select>

    <insert id="save" >
        insert into album values (#{id},#{title},#{author},#{score},#{cover_img},#{broadcast},#{count},#{content},#{pub_date})
    </insert>

    <update id="update">
        update album set cover_img=#{cover_img} where id=#{id}
    </update>

    <update id="updateAll">
        update album
        <trim prefix="set"  suffixOverrides=",">
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="author!=null">
                author = #{author},
            </if>
            <if test="score!=null">
                score = #{score},
            </if>
            <if test="cover_img!=null and cover_img!= ''">
                cover_img = #{cover_img},
            </if>
            <if test="broadcast!=null">
                broadcast = #{broadcast}
            </if>
            <if test="count!=null">
                count = #{count}
            </if>
            <if test="content!=null">
                content = #{content}
            </if>
            <if test="pub_date!=null">
                pub_date = #{pub_date}
            </if>
        </trim>
        where id=#{id}
    </update>


    <delete id="delete">
        delete from album where id = #{id}
    </delete>
</mapper>
