<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.ChapterDao">

    <select id="selectAllChapters" resultType="Chapter">
        select * from chapter where album_id=#{albumId} limit #{page},#{rows}
    </select>

    <select id="queryByTotal" resultType="Integer">
        select count(*) from chapter where album_id=#{albumId}
    </select>

    <insert id="save">
        insert into chapter values (#{id},#{url},#{size},#{duration},#{up_date},#{album_id})
    </insert>

    <update id="update">
        update chapter set url=#{url} where id=#{id}
    </update>

    <update id="updateAll">
        update chapter
        <trim prefix="set"  suffixOverrides=",">
            <if test="url!=null">url=#{url},</if>
            <if test="size!=null">size=#{size},</if>
            <if test="duration!=null">duration=#{duration},</if>
            <if test="up_date!=null">up_date=#{up_date},</if>
            <if test="album_id!=null">album_id=#{album_id},</if>
        </trim>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from chapter where id = #{id}
    </delete>


</mapper>
